<ul id="user-menu" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a (click)="logout()">Logout</a></li>
</ul>
<div class="navbar-fixed">
  <nav role="navigation z-depth-0">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo font2" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}"><img src="../img/dermal.clinic_flat_blue_words.svg"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a>Check Request</a></li>
        <li><a href="#intro">Service</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a class="waves-effect navbar-btn" [routerLink]="['/anamnesisForm']" [routerLinkActive]="['router-link-active']"
            [routerLinkActiveOptions]="{exact:true}">SEND<br/>CASE</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a class="waves-effect navbar-btn" [routerLink]="['/anamnesisForm']" [routerLinkActive]="['router-link-active']"
            [routerLinkActiveOptions]="{exact:true}">Make Request</a></li>
        <li><a>Check Request</a></li>
        <li><a href="#intro">Service</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#blog">Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu material-icons">menu</i></a>
    </div>
  </nav>
</div>