<div class="top-banner">
</div>
<div class="container top-container">
  <div class="section">
    <div class="row" [@isVisibleChanged]="isVisible">
      <form class="col s8 offset-s2" #fRef="ngForm" materialize (ngSubmit)="onSubmit(fRef)" novalidate>
        <div class="card-panel">
          <div class="section">
            <div class="row form-section-title">
              <div class="col s1">
                <img src="../assets/svg/num-1.svg">
              </div>
              <div class="col s10">
                <h5>UPLOAD PHOTOS OF THE AFFECTED AREA</h5>
              </div>
            </div>
            <div class="row valing-wrapper">
              <div class="col s2 offset-s1">
                <img class="responsive-img img-btn-hover" [(src)]="form.image1Resized" (click)="onUploadPhotoClick($event, fileInput1)" />
                <input id="image1" style="display:none" #fileInput1 type="file" imageUpload (imageSelected)="selectImage1($event, fileInput1)"
                  [resizeOptions]="resizeOptions">
              </div>
              <div class="col s8">
                <p class="valign left-align">Upload an overview photo<br>(25 - 30cm away)</p>
                <p><b>{{fileInput1.value}}</b></p>
                <p class="err" *ngIf="!form.image1 && fRef.submitted">Оverview photo is required</p>
              </div>
            </div>
            <div class="row valing-wrapper">
              <div class="col s2 offset-s1">
                <img class="responsive-img img-btn-hover" [(src)]="form.image2Resized" (click)="onUploadPhotoClick($event, fileInput2)" />
                <input id="image2" name="image2" style="display:none" #fileInput2 type="file" imageUpload (imageSelected)="selectImage2($event, fileInput2)"
                  [resizeOptions]="resizeOptions">
              </div>
              <div class="col s8">
                <p class="valign left-align">Upload close up photo<br>(~ 10cm away)</p>
                <p><b>{{fileInput2.value}}</b></p>
                <p class="err" *ngIf="!form.image2 && fRef.submitted">Close up photo is required</p>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="row form-section-title">
              <div class="col s1">
                <img src="../assets/svg/num-2.svg">
              </div>
              <div class="col s10">
                <h5>DESCRIBE YOUR CONDITION</h5>
              </div>
            </div>
            <div class="row" style="padding-bottom: 20px">
              <label class="col s10 offset-s1 left-align">Which of the common sympthoms do you have?</label>
              <p class="col offset-s1 s10 offset-m1 m5">
                <input type="checkbox" id="checkbox_itchy" name="itchy" [(ngModel)]="form.survey.itchy" />
                <label class="checkbox_label" for="checkbox_itchy">Itching</label>
              </p>
              <p class="col offset-s1 s10 m5">
                <input type="checkbox" id="checkbox_hurts" name="hurts" [(ngModel)]="form.survey.hurts" />
                <label class="checkbox_label" for="checkbox_hurts">Pain</label>
              </p>
              <p class="col offset-s1 s10 offset-m1 m5">
                <input type="checkbox" id="checkbox_hotfeel" name="hotfeel" [(ngModel)]="form.survey.hotfeel" />
                <label class="checkbox_label" for="checkbox_hotfeel">Hot feeling</label>
              </p>
              <p class="col offset-s1 s10 m5">
                <input type="checkbox" id="checkbox_coldfeel" name="coldfeel" [(ngModel)]="form.survey.coldfeel" />
                <label class="checkbox_label" for="checkbox_coldfeel">Cold feeling</label>
              </p>
            </div>
            <div class="row">
              <div class="col offset-s1 s10">
                <label for="select_duration">For how long is this condition?</label>
              </div>
              <div class="col offset-s1 s10">
                <select id="select_duration" materialize="material_select" name="duration" [(ngModel)]="form.survey.duration">
                      <option value="Days">Days</option>
                      <option value="Weeks">Weeks</option>
                      <option value="Months">Months</option>
                      <option value="Years">Years</option>
                    </select>
              </div>
            </div>
            <div class="row">
              <div class="input-field col offset-s1 s10">
                <textarea id="description" required class="materialize-textarea" name="description" [(ngModel)]="form.survey.description"></textarea>
                <label #descriptionLabel for="description">Describe location, size, how it developed, current treatment</label>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="row form-section-title">
              <div class="col s1">
                <img src="../assets/svg/num-3.svg">
              </div>
              <div class="col s10">
                <h5>PROVIDE GENERAL INFORMATION</h5>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s1 s10 offset-m1 m5">
                <select id="select_sex" materialize="material_select" name="sex" [(ngModel)]="form.survey.sex">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="input-field col offset-s1 s10 m5">
                <input id="age" type="text" required (keypress)="onKeyPressFilterNonDigit($event)" numberValidRange="5-105" name="age" [(ngModel)]="form.survey.age">
                <label #ageLabel for="age" id="age_label">Age</label>
              </div>
              <div class="input-field col offset-s1 s10">
                <input id="email" type="text" class="validate" name="email" emailValidator required [(ngModel)]="form.survey.email">
                <label for="email">Email</label>
              </div>
              <div class="input-field col offset-s1 s10">
                <input id="confirmEmail" type="text" class="validate" name="confirmEmail" [confirmEmail]="form.survey.email" [(ngModel)]="form.survey.confirmEmail">
                <label for="confirmEmail">Confirm email</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col offset-s3 s6">
              <!-- workaround - instead of the id of the field to match the name value, the id of the field's label matches the name value.
                This is to make the error message to be put after the label element not between the checkbox and the label. -->
              <input type="checkbox" id="terms_checkbox" name="accept_terms" required [(ngModel)]="form.survey.accept_terms" />
              <label class="checkbox_label" id="accept_terms" for="terms_checkbox">I accept the <a id="terms" href="#modal1">Terms & Conditions.</a></label>
            </div>
          </div>
          <div class="row" style="padding-top: 20px">
              <button type="submit" (click)="submitBtnClicked()" class="btn col s6 offset-s3 waves-effect waves-light"> > NEXT STEP: PAYMENT</button>
          </div>
        </div>
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <terms></terms>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--
<p>FORM: {{JSON.stringify(fRef.value)}}</p>
<p>data: {{JSON.stringify(f)}}</p>
-->