<div class="row" [@isVisibleChanged]="isVisible">
  <form class="col s8 offset-s2" #fRef="ngForm" materialize (ngSubmit)="onSubmit(fRef.value)">
    <div class="card-panel">
      <h5>Upload a photo</h5>
      <div class="section">
        <!-- div class="col s6 center-align">
          <img [src]="src" [hidden]="!src"><br>
          <input #uploadBtnRef type="file" image-upload (imageSelected)="selected1($event)" [resizeOptions]="resizeOptions">
        </div -->
        <div class="row valing-wrapper">
          <div class="col s4 center-align">
            <img class="responsive-img img-btn-hover" [(src)]="img1" (click)="onUploadPhotoClick($event, uploadBtnRef1)"/>
            <input style="display:none" #uploadBtnRef1 type="file" image-upload (imageSelected)="selected1($event)" [resizeOptions]="resizeOptions">
          </div>
          <div class="col">
            <p class="valign left-align">Upload an overview photo (25 - 30cm away)</p>
            <p><b>{{uploadBtnRef1.value}}</b></p>
          </div>
        </div>
        <div class="row valing-wrapper">
          <div class="col s4 center-align">
            <img class="responsive-img img-btn-hover" [(src)]="img2" (click)="onUploadPhotoClick($event, uploadBtnRef2)"/>
            <input style="display:none" #uploadBtnRef2 type="file" image-upload (imageSelected)="selected2($event)" [resizeOptions]="resizeOptions">
          </div>
          <div class="col">
            <p class="valign left-align">Upload close up photo (~ 10cm away)</p>
            <p><b>{{uploadBtnRef2.value}}</b></p>
          </div>
        </div>
      </div>
      <h5>Describe your condition</h5>
      <div class="section">
        <p class="valign left-align">Tick if you have any of these sympthoms</p>
        <div class="row">
          <p class="col s12 m6">
            <input type="checkbox" id="checkbox_itchy" name="itchy" [(ngModel)]="itchy" />
            <label for="checkbox_itchy">Itching</label>
          </p>
          <p class="col s12 m6">
            <input type="checkbox" id="checkbox_hurts" name="hurts" [(ngModel)]="hurts" />
            <label for="checkbox_hurts">Pain</label>
          </p>
        </div>
        <div class="row">
          <p class="col s12 m6">
            <input type="checkbox" id="checkbox_hotfeel" name="hotfeel" [(ngModel)]="hotfeel" />
            <label for="checkbox_hotfeel">Hot feeling</label>
          </p>
          <p class="col s12 m6">
            <input type="checkbox" id="checkbox_coldfeel" name="coldfeel" [(ngModel)]="coldfeel" />
            <label for="checkbox_coldfeel">Cold feeling</label>
          </p>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea_desc" class="materialize-textarea" name="description" [(ngModel)]="description"></textarea>
            <label for="textarea_desc">Describe location, color, size</label>
          </div>
        </div>
      </div>

      <h5>Descibe the history of the decease</h5>
      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <select id="select_duration" materialize="material_select" name="duration" [(ngModel)]="duration">
              <option value="Days">Days</option>
              <option value="Weeks">Weeks</option>
              <option value="Months">Months</option>
              <option value="Years">Years</option>
            </select>
            <label for="select_duration">For how long have you had this condition?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea_history" class="materialize-textarea" name="history" [(ngModel)]="history"></textarea>
            <label for="textarea_history">Describe how it developed, include any previous treatment, existing diagnosis, known alergies</label>
          </div>
        </div>
      </div>

      <h5>Basic information</h5>
      <div class="section">
        <div class="row">
          <div class="input-field col s6">
            <select id="select_sex" materialize="material_select" name="sex" [(ngModel)]="sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          </div>
          <div class="input-field col s6">
            <input id="text_bio_age" type="text" class="validate" name="age" [(ngModel)]="age">
            <label for="text_bio_age">Age</label>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn col s6 offset-s3"> > NEXT STEP: PAYMENT</button>
      </div>
    </div>
  </form>
</div>
<!--
<p>FORM: {{JSON.stringify(fRef.value)}}</p>
<p>data: {{JSON.stringify(f)}}</p>
-->
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
