<div class="top-banner">
</div>
<div class="container top-container">
  <div class="row" [@isVisibleChanged]="isVisible">
    <div class="col s8 offset-s2">
      <div class="card-panel">
        <div class="section">
            <div class="row form-section-title">
              <div class="col s10 offset-s1">
                <h5>PHOTOS OF THE AFFECTED AREA</h5>
              </div>
            </div>
            <div class="row">
              <div class="col s4 offset-s1">
                <img [(src)]="form.image1Resized"/>
              </div>
              <div class="col s6">
                <p>Image 1: {{form.image1.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s4 offset-s1">
                <img [(src)]="form.image2Resized"/>
              </div>
              <div class="col s6">
                <p>Image 2: {{form.image2.name}}</p>
              </div>
            </div>
        </div>
        <div class="section">
            <div class="row form-section-title">
              <div class="col s10 offset-s1">
                <h5>DETAILS OF YOUR CONDITION</h5>
              </div>
            </div>
            <div class="row">
              <div class="col s10 offset-s1">
                <p>Duration: {{form.survey.duration}}</p>
                <p>Sympthoms: {{form.survey.itchy}};{{form.survey.hurts}};{{form.survey.hotfeel}};{{form.survey.coldfeel}};</p>
                <p>Description: {{form.survey.description}}</p>
              </div>
            </div>
        </div>
        <div class="section">
            <div class="row form-section-title">
              <div class="col s10 offset-s1">
                <h5>GENERAL INFORMATION</h5>
              </div>
            </div>
            <div class="row">
              <div class="col s10 offset-s1">
                <p>Gender: {{form.survey.sex}}</p>
                <p>Age: {{form.survey.age}}</p>
                <p>Email: {{form.survey.email}}</p>
              </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px">
          <div class="col s12">
              <h6 class="center-align">Pay 20 EUR dermatologist fee to send you case for review</h6>
          </div>
          <div class="col s4 offset-s4">
            <div id="paypal-button"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<p>FORM: {{JSON.stringify(fRef.value)}}</p>
<p>data: {{JSON.stringify(f)}}</p>
-->
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
