<!--Facts and service-->
<div id="facts" class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l4">
        <h2>29 </h2>
        <h5>days is the average wait to see a dermatologist in Europe.</h5>
      </div>
      <div class="col s12 m4 l4">
        <h2>70% </h2>
        <h5>of Dermal Clinic's cases can be treated with over the counter medication.</h5>
      </div>
      <div class="col s12 m4 l4">
        <h2>90% </h2>
        <h5>of patients that used teledermatology systems were satisfied.</h5>
      </div>
    </div>
  </div>
</div>