<!--Hero-->
<div class="section top-banner" id="index-banner">
  <div class="container heroimg">
    <div class="top-textbox">
      <h5>LET REAL DOCTORS HELP YOU</h5>
      <h1 class="font2">FEAR NO MIRROR</h1>
      <h5>ENJOY LIFE</h5>
      <a class="btn btn-large waves-effect waves-light" [routerLink]="['/anamnesisForm']" [routerLinkActive]="['router-link-active']"
            [routerLinkActiveOptions]="{exact:true}">Ask a Dermatologyst Now</a>
    </div>
    <!-- h1 class="text_h left-align header cd-headline letters type">
      <span>You need </span>
      <span class="cd-words-wrapper waiting">
                     <b class="is-visible">dermatologist?</b>
                     <b>dermal.clinic!</b>
      </span>
      <h4>Remote dermatology services.</h4>
    </h1 -->
  </div>
</div>

<intro></intro>
<facts></facts>
<social-proof></social-proof>
<team></team>


<!-- div materialize="parallax" class="parallax-container">
  <div class="parallax"><img src="img/parallax1.png"></div>
</div -->

