<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
      <span>You need </span>
      <span class="cd-words-wrapper waiting">
                     <b class="is-visible">dermatologist?</b>
                     <b>dermal.clinic!</b>
                </span>
    </h1>
  </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center text_h2">We provide <span class="span_h2"> fast </span> safe and affordable <span class="span_h2"> access to dermatology </span> consultancy </h2>
      </div>
      <div class="row">
        <a class="btn btn-large col s4 offset-s4 waves-effect waves-light" [routerLink]="['/anamnesisForm']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Ask a Dermatologyst Now</a>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="mdi-image-flash-on"></i>
          <h5 class="promo-caption">Speeds up development</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque
            penatibus et magnis dis parturient montes.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="mdi-social-group"></i>
          <h5 class="promo-caption">User Experience Focused</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="mdi-hardware-desktop-windows"></i>
          <h5 class="promo-caption">Fully responsive</h5>
          <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Work-->
<div class="section scrollspy" id="blog">
  <div class="container">
    <h2 class="header text_b">Blog</h2>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/project1.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#">Project link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this project that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/project2.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#">Project link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this project that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/project3.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#">Project link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this project that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/project4.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#">Project link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this project that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/project5.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#">Project link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this project that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/project6.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#">Project link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this project that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Parallax-->
<div materialize="parallax" class="parallax-container">
  <div class="parallax"><img src="img/parallax1.png"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
  <div class="container">
    <h2 class="header text_b"> Our Team </h2>
    <div class="row">
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar1.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Flash <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar2.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                        </span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar3.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                            Capt. America <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar4.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Robin<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>