<!--Hero-->
<div class="section top-banner" id="index-banner">
  <div class="container" style="padding-left: 45px;">
    <h1 class="text_h left-align header cd-headline letters type">
      <span>You need </span>
      <span class="cd-words-wrapper waiting">
                     <b class="is-visible">dermatologist?</b>
                     <b>dermal.clinic!</b>
      </span>
      <h4>Remote dermatology services.</h4>
    </h1>
  </div>
</div>

<intro></intro>
<social-proof></social-proof>


<!-- div materialize="parallax" class="parallax-container">
  <div class="parallax"><img src="img/parallax1.png"></div>
</div -->

<!--Team-->
<div class="section scrollspy" id="team">
  <div class="container">
    <h2 class="header text_b"> Our Team </h2>
    <div class="row">
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar1.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Flash <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar2.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                        </span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar3.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                            Capt. America <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar4.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Robin<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
            <p>
              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>