<!--Intro and service-->
<div id="intro" class="section no-pad-top scrollspy">
  <div class="container">
    <div class="row pull-up">
      <div class="col right-pad s12 m12 l4">
        <div class="card-panel z-depth-0 promo">
          <img src="../img/icon/Easy-Finger-Snap-72px.png">
          <h5 class="left-align promo-caption">EASY</h5>
          <div class="section">
            <ul>
              <li class="left-align"><i class="small material-icons">done</i>available anytime, anywhere</li>
              <li class="left-align"><i class="small material-icons">done</i>send case by simple web app</li>
              <li class="left-align"><i class="small material-icons">done</i>affordable - low dermatologies fees</li>
            </ul>
          </div>
        </div>  
      </div>
      <div class="col right-pad s12 m12 l4">
        <div class="card-panel z-depth-0 promo">
          <img src="../img/icon/faster-icon-72px.png">
          <h5 class="promo-caption">FAST</h5>
          <div class="section">
          <ul>
            <li class="left-align"><i class="small material-icons">done</i>send case by a few simple steps</li>
            <li class="left-align"><i class="small material-icons">done</i>get results in the next 24h</li>
            <li class="left-align"><i class="small material-icons">done</i>no appointments needed</li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col s12 m12 l4">
        <div class="card-panel z-depth-0 promo">
          <img src="../img/icon/nurse_72px.png">
          <h5 class="promo-caption">SAFE</h5>
          <div class="section">
          <ul>
            <li class="left-align"><i class="small material-icons">done</i>anonymous, no login required</li>
            <li class="left-align"><i class="small material-icons">done</i>experienced dermatologists review your case</li>
            <li class="left-align"><i class="small material-icons">done</i>secure cloud platform stores your data</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container cta">
      <div class="row">
        <h3 id="cta-header" class="center-align valign">Do you have a skin issue?</h3>
    </div>
    <div class="row">
      <div class="col s12 m6 l6">
        <h6 class="right-align">
           <a class="btn btn-large waves-effect waves-light" [routerLink]="['/anamnesisForm']" [routerLinkActive]="['router-link-active']"
            [routerLinkActiveOptions]="{exact:true}">Ask a Dermatologyst Now</a>
        </h6>
      </div>
      <div class="col s12 m6 l6">
        <h6 class="left-align">Upload photos and provide description</h6>
        <h6 class="left-align">Pay affordable fee</h6>
        <h6 class="left-align"><span class="text_b">Get professional opinion</span> about your case</h6>
      </div>
    </div>
  </div> 
    </div>
</div>
