<!--Facts and service-->
<div id="professionals" class="section">
  <div class="container">
    <div class="row">
      <div class="section-header">
        <h1>PROFESSIONALS</h1>
        <h5>Our Dermatologist</h5>
      </div>
    </div>
    <div class="row" style="position: relative">
      <div class="col s11" id="prof-blue-card">
        <div class="col offset-s7 s5">
          <h4>Dr. Nadia Smith</h4>
          <h5> BIO &amp; SPECIALIZATION</h5>
          <ul class="browser-default">
            <li>Suleman stated she had six embryos left over from her.</li>
            <li>Suleman stated she had six embryos left over from her previous IVF treatments.</li>
            <li>She explained at the time that she requested that all of the remaining embryos.</li>
          </ul>
        </div>
      </div>
      <div class="col s6" id="prof-white-card">
        <div class="row">
          <div class="col s6 offset-s6">
            <p>As of March 2009, Suleman bought a new house in La Habra,[26] and many stories questioned that the octuplets
              would be released from the hospital</p>
            <div id="nadiq-signiture">
              <h5>Dr. Nadia Smith</h5>
              <h6>Dermatologist</h6>
            </div>
          </div>
        </div>
      </div>
      <img id="nadiq" src="../img/doctor-nadiq.png" />
    </div>
  </div>
</div>