<!--Team-->
<div class="section scrollspy" id="team">
  <div class="container">
    <h2 class="header text_b"> Our Team </h2>
    <div class="row">
      <div class="col s4">
        <div class="card-panel z-depth-0">
          <img src="../img/doc-example-2.png" />
          <h5 class="center-align">Dr. Shmatko Shamtkov</h5>
          <p class="center-align">Unpleasant astonished an diminution up.</p>
        </div>
      </div>
      <div class="col s4">
        <div class="card-panel z-depth-0">
          <img src="../img/svetozar_drenski-302px.png" />
          <h5 class="center-align">Dr. Svetozar Drenski</h5>
          <p class="center-align">In as name to here them deny wise this.</p>
        </div>
      </div>
      <div class="col s4">
        <div class="card-panel z-depth-0">
          <img src="../img/doc-example-1.png" />
          <h5 class="center-align">Dr. Raika Raikova</h5>
          <p class="center-align">Chapter too parties its letters nor.</p>
        </div>
      </div>
    </div>
  </div>
</div>