<div class="container" id="terms">
    <div class="row">
        <div class="col s12">
            <h3>Dermal Clinic Terms of Service</h3>

            <h6>In this agreement "Dermal Clinic” is represented by iDoc24 Inc. and the terms will be used interchangeably.</h6>

            <h5>A. The Terms</h5>

            <h6>1. General; Acceptance of Terms</h6>
            <p>Welcome to iDoc24 (“Service”), the web and application based service owned and operated by iDoc24 Inc (“iDoc24”).
                The Terms of Service applies to the service provided via the websites and mobile applications known as iDoc24
                (iDoc24.com), First Derm and STD Triage (STDtriage.com) (collectively the “Service”). The Service permits
                Customers to upload images of skin conditions privately and permits Professionals to post information about
                skin conditions privately in response to Customers’ uploads. A Professional’s post in response to an individual
                Customer upload is made available to Customer upon payment of the posted fee for the Service – a unique alphanumerical
                code to unlock Professional’s post is provided to Customer after Customer pays iDoc24 via iTunes, PayPal
                or Google Wallet. (Customer and Professional are defined below.) Customers’ uploaded images are received
                and stored as anonymous images; they are not associated with any identifying information regarding Customers.
                By using the Service in any way, you are agreeing to comply with and be bound by this Agreement and the Privacy
                Policy, as applicable (collectively “Related Agreements”), and all rules, policies and disclaimers posted
                on the Service or about which you are notified (collectively “Terms”). If you do not agree with all the Terms,
                or if you are under the age of thirteen (13), do not use the Service. Please review all of the Terms carefully
                before using the Service. THE SERVICE DOES NOT PROVIDE HEALTH CARE SERVICES OR SERVE AS A COMMUNICATIONS
                CONDUIT FOR HEALTH CARE SERVICES. IF YOU HAVE A MEDICAL EMERGENCY, DIAL 911 OR YOUR LOCAL EMERGENCY NUMBER.
                IF YOU REQUIRE NON-EMERGENCY MEDICAL SERVICES, CONTACT YOUR REGULAR HEALTH CARE PROVIDER. By using the Service,
                you (i) agree to be bound by the Terms and (ii) represent that you are over the age of thirteen (13) and
                able to form legally binding contracts, Please note that these Terms provide that if you and iDoc24 are unable
                to resolve any disputes that arise between you and iDoc24, the dispute will be resolved by a specific dispute
                resolution process that may include arbitration. Arbitration is binding and is more informal than a lawsuit
                in court. Arbitration uses a neutral arbitrator instead of a judge or jury, allows for more limited discovery
                than in court, and is subject to very limited review by courts. Arbitrators can award the same damages and
                relief that a court can award. You and iDoc24 also agree that any claims or disputes cannot be brought as
                a class action. Please carefully review the Dispute Resolution section below and visit http://www.adr.org
                for more information about arbitration.</p>

            <h6>2. Definitions</h6>

            <p>In the Terms, “User,” “you” and “your” refer to the individual or entity that uses the Service (Customer of Professional).
                “iDoc24,” “we,” “us” and “our” refer to iDoc24. “Customer” refers to the person who uploads an image on the
                Service. “Professional” refers to the person who provides information regarding the skin condition shown
                in an image posted on the Service (i.e. a medical doctor).</p>

            <h6>3. Electronic Communications and Right to Modify Terms</h6>

            <p>When you use the Service, you are communicating with us electronically. You consent to receive communications
                from us electronically. We will communicate with you by posting notices on this Service or by other electronic
                means. You agree that all agreements, notices, disclosures and other communications that we provide to you
                electronically satisfy any legal requirement that such communications be in writing. iDoc24 may modify any
                of the Terms at any time by posting them on the Service. Changes shall automatically be effective upon posting.
                Your continued use of the Service will signify your acceptance of the changes. If you do not accept the changes,
                your sole and exclusive remedy is to discontinue using the Service. The latest Terms will be posted on the
                Service, and you should always review them prior to using the Service.</p>

            <h5>B. The Service</h5>

            <h6>1. iDoc24 Is a Venue; Third-Party Content</h6>

            <p>The Service is a venue for informational and educational purposes to allow Customers to upload images of skin
                conditions, seeking information, and Professionals to answer them privately with posts containing information.
                Users of the Service, not iDoc24, provide the content in Posts (defined below). The Professionals determine
                which questions to answer; Professionals are not employees or agents of iDoc24 but are independent service
                providers using the Service to sell information to Customers and are, as such, along with Customers, simply
                Users of the Service. iDoc24 is not involved in the conversations between Customers and Professionals and
                does not refer Customers to or endorse or recommend particular Professionals. You understand and acknowledge
                that iDoc24 cannot and does not edit, modify, filter, screen, monitor, endorse or guarantee the content of
                Posts. iDoc24 shall not be liable for any acts or omissions of Professionals, content in Posts, the ability
                of Professionals to answer questions or the ability of Customers to pay for answers. We cannot ensure that
                a Customer or Professional will complete a transaction. Notwithstanding the foregoing, iDoc24 reserves the
                right, but is not obligated, to refuse to post or to remove any content and/or remove any User’s access to
                the Service. EMERGENCY QUESTIONS AND CRISIS SITUATIONS should be directed immediately by telephone or in
                person to qualified professionals (e.g. in the U.S., call 911). The Service is not the appropriate venue
                to deal with such situations.</p>

            <h6>2. Posts Are Not Private or Confidential; Anonymity</h6>

            <p>The Service is an internet-based information service and is not used for the provision of professional medical
                advice. User communications are only as private or confidential as unencrypted communications on the internet
                can be, which means that they may be intercepted and read by third parties, and are not protected by any
                physician-patient or other privilege. iDoc24 maintains records of Customer payments separate from anonymous
                Customer Posts regarding skin conditions, and only so long as necessary to generate a Customer code that
                will permit a Customer to unlock a Professional’s Post. Payments are processed by third party payment processors
                that commit to being PCI compliant (i.e., compliant with data privacy and security standards for their industry).
                iDoc24 follows reasonable data storage practices, but makes no warranty or representation regarding the privacy
                or security of any information that it collects or maintains.</p>

            <h6>3. Verification; No Reliance on the Term “Professional”</h6>

            <p>Every Professional on the Service has been verified by iDoc24 or its contractors as qualified to respond to inquiries
                posted on the Service. iDoc24 conducts reviews of each Professional’s responses to inquiries posted by Customers
                on a random basis, but does not commit to do so on an ongoing basis, and assumes no liability for the content
                of such responses. While iDoc24 strives to admit only high-quality Professionals onto the Service, use of
                the term “Professional” by iDoc24 and on the Service is only meant to describe Users who answer questions
                on the Service, and not to guarantee any particular level of expertise of the Professional. iDoc24 cannot
                and does not make any guarantee, warranty or representation with respect to the qualifications of individual
                Professionals or any information they may provide via the Service. All Users acknowledge that iDoc24 will
                not be liable for any loss or damage caused by reliance on any information or content contained in Posts.</p>

            <h6>4. Information Not Advice; No Client-Professional Relationship</h6>

            <p>INFORMATION PROVIDED BY PROFESSIONALS VIA THE SERVICE IS NOT MEDICAL ADVICE. NO PHYSICIAN-PATIENT RELATIONSHIP
                IS CREATED BY USE OF THE SERVICE. Answers of Professionals on the Service are provided by Professionals and
                are to be used by Customers for general information purposes only, not as a substitute for in-person evaluation
                or specific professional medical advice. Professionals will provide only general information about skin conditions,
                and will not provide medical advice nor propose a specific course of action for a Customer; by answering
                questions, Professionals do not form physician-patient relationships with Customers on the Service. The laws,
                regulations, other governing authorities, standards, practices and procedures that apply to your particular
                question may differ depending on your location. Professionals in some categories may be licensed, certified,
                educated, employed by or have experience in only particular jurisdictions. Professional medical advice may
                require information typically discovered through in-person evaluations or visits. Communications on this
                Service are not confidential and shall not be the subject of any privilege. Communications on this Service
                are limited, as described above, do not involve in-person evaluations or visits, and do not include safeguards
                and procedures typical of in-person evaluations and visits.</p>

            <h5>C. Use of the Service</h5>

            <p>Restricted Activities. You agree that any content you provide on the Service and your use of our Service shall
                not: (a) be fraudulent, inaccurate or misleading; (b) infringe any third party’s proprietary rights or rights
                of publicity or privacy (iDoc24 has takedown procedures for unauthorized use of copyrighted material); (c)
                be illegal or violate any federal, state or local law, statute, ordinance, regulation or ethical code; (d)
                be competitive with iDoc24 or the Service; (e) be defamatory, trade libelous, unlawfully threatening or unlawfully
                harassing; (f) contain any viruses, Trojan horses, or other computer programming routines that may damage,
                detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information;
                (g) create liability for us or cause us to lose (in whole or in part) the services of our ISPs or other suppliers;
                or (h) link directly or indirectly to or include descriptions of goods or services that (I) are prohibited
                under the Terms; or (II) you do not have a right to link to or include. You may not consummate any transaction
                that was initiated using our Service that, by paying to us a fee, could cause us to violate any applicable
                law, statute, ordinance or regulation. Furthermore, you may not resell or make any commercial use of our
                system or the content on the Service without iDoc24’s prior written consent. We do not knowingly collect
                personal information from children under thirteen (13) years of age, and if we become aware that a child
                under the age of thirteen (13) has submitted personal information to us, we will promptly remove it from
                our systems. You are prohibited from soliciting Users of this Service, including Professionals, for any purpose
                (including inviting other Users to contact you off of the Service or inviting Users to participate in a web
                service that competes with iDoc24 or the Service or charges money to receive answers or to communicate with
                purported experts or professionals). Suspension or Termination of Service. At any time, without notice, for
                any or no reason, iDoc24 reserves the right to refuse service to anyone, to modify and discontinue any portion
                or all of the Service, and to restrict, suspend and terminate Users’ accounts.</p>

            <h6>2. Charges</h6>

            <p>After a Customer uploads an image of a skin condition to the Service, the image is viewed by a Professional,
                and the Professional uploads information about the image, iDoc24 will notify Customer. If Customer then pays
                the then-current fee via iTunes, PayPal or Google Wallet in accordance with iDoc24 instructions, iDoc24 will
                provide to Customer an eight-digit key which may be used to unlock the Professional’s informational report.
                iDoc24 does not guarantee that you will receive a response from a Professional, or that you will be satisfied
                with your communication with a Professional.</p>

            <h6> Receipt of Special Offers and Other Communications</h6>

            <p>iDoc24 maintains the right to initiate special incentive pricing, membership, and other programs.</p>

            <h5>D. Legal Statements</h5>

            <h6>1. Release</h6>

            <p>Users are responsible for their acts and omissions and content placed on the Service. Because the iDoc24 Service
                is a venue, in the event that you have a dispute with one or more Users, you release iDoc24 (and our parents,
                subsidiaries, officers, directors, shareholders, employees, agents, joint ventures, consultants, successors
                and assignees) from any and all claims, demands and damages (actual and consequential) of every kind and
                nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any
                way connected with such disputes. If you are a California resident, you waive California Civil Code §1542,
                which says: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST
                IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS
                SETTLEMENT WITH THE DEBTOR.”</p>

            <h6>2. Proprietary Rights to Content</h6>

            <p>You acknowledge that iDoc24 and its licensors and suppliers own the rights to the iDoc24 Service and the content
                displayed on the Service other than Posts. You shall not modify, reverse engineer, decompile, disassemble,
                or attempt to derive the source code of the iDoc24 web Service, or assist any other person or entity in doing
                so. You acknowledge that all content, including but not limited to text, software, music, sound, photographs,
                video, graphics or other material contained in listings, sponsor advertisements or email-distributed, commercially
                produced information presented to you by the Service, by iDoc24, Users, or other content providers, is protected
                by copyrights, trademarks, service marks, patents or other proprietary rights and laws. You may not modify,
                copy, reproduce, republish, upload, post, transmit, or distribute in any way content available through the
                Service, including code and software for commercial purposes. For permission to use third-party materials
                appearing on the Service, please contact the copyright owner. You do not acquire ownership rights to any
                content, document or other materials viewed through the Service. The posting of information or materials
                on the Service does not constitute a waiver of any right in such information and materials. You grant to
                iDoc24 a non-exclusive, irrevocable, perpetual, worldwide, royalty-free, sublicensable (through multiple
                tiers) license to use, reproduce, display, edit, copy, modify, transmit, publicly perform, extract and create
                derivative works from, content that you have in your Posts, in any media now known or not currently known.
                This licensed right may be exercised in order to provide the Service and for other purposes.</p>

            <h6> No Endorsement of Non-iDoc24 Entity; No Relationship with Users</h6>

            <p>iDoc24 may endeavor to offer to its Users products and services offered by non-iDoc24 entities. Placement of
                information, logos, links or names of such non-iDoc24 entities on the Service does not constitute an endorsement
                or warranty of these entities, their products or services. You take full responsibility for a decision to
                visit or patronize any such entity and hold iDoc24 harmless from any liability arising from such actions.
                You further acknowledge that no relationship (such as partnership, agent, joint venturer, or employee) is
                created between you and iDoc24 or between any User (including Customers and Professionals) and iDoc24 by
                formation of this Agreement (or any of the Related Agreements) or by your participation on the Service. IT
                IS THE RESPONSIBILITY OF THE USER TO EVALUATE THE ACCURACY, COMPLETENESS AND USEFULNESS OF ANY OPINION, ANSWER
                OR OTHER CONTENT AVAILABLE THROUGH THE SERVICE, FROM THIRD PARTIES OR OBTAINED FROM A LINKED SERVICE. PLEASE
                SEEK THE ADVICE OF PROFESSIONALS, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC OPINION, ANSWER,
                PRODUCT, SERVICE, OR OTHER CONTENT.</p>

            <h6>4. Exclusion of Warranties</h6>

            <p>IDOC24 SERVICES AND RELATED DOCUMENTATION ARE PROVIDED “AS IS” AND WITHOUT ANY WARRANTY OF ANY KIND EITHER EXPRESS
                OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
                PURPOSE. NO INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH THIS SERVICE SHALL CREATE
                ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THESE TERMS. IDOC24 DOES NOT REPRESENT
                OR WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT
                THIS SERVICE OR THE SERVER THAT MAKES IT AVAILABLE, ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. IDOC24
                DOES NOT WARRANT OR REPRESENT THAT THE USE OR THE RESULTS OF THE USE OF THE MATERIALS AVAILABLE THROUGH THE
                SERVICE, FROM THIRD PARTIES OR A LINKED SERVICE WILL BE CORRECT, ACCURATE, TIMELY, RELIABLE OR OTHERWISE.
                SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS
                MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE AND JURISDICTION TO JURISDICTION.
                UNDER NO CIRCUMSTANCES WILL IDOC24 BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A USER’S RELIANCE ON INFORMATION
                OBTAINED THROUGH THE SERVICE, FROM THIRD PARTIES (SUCH AS PROFESSIONALS OR OTHERS) OR A LINKED SERVICE, OR
                USER’S RELIANCE ON ANY PRODUCT OR SERVICE OBTAINED FROM A THIRD PARTY OR A LINKED SERVICE. USE OF THIS SERVICE
                IS AT USERS’ SOLE RISK. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM IDOC24 OR
                THROUGH OR FROM THE IDOC24 SERVICES SHALL CREATE ANY WARRANTY.</p>

            <h6>5. Limitation of Liability</h6>

            <p>IN NO EVENT SHALL IDOC24, ITS PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, AGENTS, JOINT
                VENTURERS, CONSULTANTS, SUCCESSORS OR ASSIGNS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL,
                PUNITIVE OR EXEMPLARY DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS OF BUSINESS, PROFITS, DATA, USE, REVENUE
                OR OTHER ECONOMIC ADVANTAGE), ARISING OUT OF OR IN CONNECTION WITH OUR SERVICE, OUR SERVICES OR THE TERMS
                BASED ON ANY THEORY, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATION OF DAMAGES SET FORTH
                ABOVE IS A FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN US AND YOU. THIS SERVICE AND THE INFORMATION
                WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. IN NO EVENT WILL OUR LIABILITY, AND THE LIABILITY OF OUR
                PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, EMPLOYEES, AND SUPPLIERS, TO YOU OR ANY THIRD PARTIES IN ANY
                CIRCUMSTANCE EXCEED THE GREATER OF (A) THE AMOUNT OF FEES YOU PAY TO IDOC24 IN THE 12 MONTHS PRIOR TO THE
                ACTION GIVING RISE TO LIABILITY, OR (B) US$100. SOME STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION
                OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY
                TO YOU. You and iDoc24 agree that any action arising out of or related to this Service must commence within
                six (6) months after the cause of action arose (except for causes of action arising out of Users’ responsibilities
                in the Indemnification section below); otherwise, such cause of action is permanently barred.</p>

            <h6>6. Indemnification</h6>

            <p>You agree to indemnify and hold iDoc24, its parents, subsidiaries, officers, directors, shareholders, employees,
                agents, joint venturers, consultants, successors and assigns harmless from and against all losses, costs,
                liabilities and expenses including reasonable attorneys’ fees, asserted by any third party that are in any
                way due to or arising out of your use of the Service.</p>

            <h6>7. Agreement; Assignment; Miscellaneous</h6>

            <p>The Terms constitute the complete and exclusive statement of the Agreement between you and us. It supersedes
                any and all prior or contemporaneous agreement, oral or written, and any other communications, representations,
                warranties and understanding relating to the subject matter of the Terms. If there is a conflict between
                an oral or written representation of any IDoc24 employee or agent and the Terms (other than modifications
                to the Terms executed in writing by the CEO or authorized-in-fact representative of iDoc24), the Terms will
                prevail. If any provision(s) of the Terms is held by a court of competent jurisdiction to be contrary to
                law, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties
                and the other provisions shall remain in full force and effect. iDoc24’s failure to exercise or enforce any
                of the Terms shall not constitute a waiver of iDoc24’s right to exercise or enforce the Terms as to the same
                or another instance. Headings in this and Related Agreements are for purposes of reference only and shall
                not limit or otherwise affect the meaning of the Terms. You agree that iDoc24 may assign the Terms to any
                other entity of its choosing, with or without notice to you. You may not assign the Terms to any other party
                for any reason. iDoc24 shall not be deemed to have waived any of its rights or remedies unless such waiver
                is in writing and signed by an officer of iDoc24. No delay or omission on the part of iDoc24 in exercising
                any rights or remedies shall operate as a waiver of such rights or remedies or any other rights or remedies
                on future occasions. The section titles in the Terms are solely used for the convenience of the parties and
                have no legal or contractual significance.</p>

            <p>Revision Date: December 14, 2013 (General overhaul and update) September 15, 2016 </p>
        </div>
    </div>
</div>